<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<style>
body{
    margin:0;
    padding:0;
    background: #e84118;
}
.search-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height:40px;
    border-radius:40px;
    padding:10px;
}
.search-box:hover > .search-txt{
    width:240px;
    padding: 0 6px;

}
.search-box:hover > .search-btn{
    background: white;
    
}
.search-btn{
    color: #e84118;
    float:right;
    width:40px;
    height:40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width:0px;
}
.container{
    text-align: center;
    color: azure;
    font-family: sans-serif;
    margin-top: 160px;
}
</style>
<div class="container">
    <h1>Number Plate Detector</h1>
    <p>Put the image url of the car here</p>
</div>
    
<form action="/upload" method="POST">
<div class="search-box">
    <input class="search-txt" type="text" name="image" placeholder="image url">
    <button class="search-btn">
        <i class="fas fa-search"></i>
    </button>
    
</div>

</form>